---
---

@charset "utf-8";



// Our variables
$base-font-family: "Frutiger", Frutiger, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$h1-font-size: 26px;
$h2-font-size: 22px;

$spacing-unit:     50px;

$text-color:       #000;
$background-color: {{site['Background Color']}};
$accent-color:     #F15060;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"mixins",
        "base",
        "layout"
;
