---
layout: home
---

<section id="intro">
</section>
{% assign sorted_pages = site.pages | sort:"position" %}
{% for page in sorted_pages %}
	{% if page.url == page.dir and page.title%}
		<section id="{{page.title | slugify}}" class="post">
				<header class="post-header">
					<a href="#{{page.title | slugify}}" class="post-link">
	    				<h1 class="post-title">{{ page.title }}<span class="caret">&#32;&#9660;</span></h1>
	    			</a>
	  			</header>
  				{% include subpage-links.html%}
  				<div class="post-content">
				{{page.content}}
				</div>
		</section>
	{% endif %}
{% endfor %}

{% include background.html %}